*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	font-family: "Oswald", sans-serif;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

.container {
	display: flex;
	height: 100vh;
}

.boxing-image {
	display: flex;
	position: relative;
	background-color: aliceblue;
}

.boxing-image-text-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
	position: absolute;
    top: 20vh;
    height: 20vh;
	width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.boxing-image-text {
    color: white;
    font-size: 4rem;
    font-weight: 700;
    
}

.fist-icon {
    width: 5rem;
    fill: white;
}

.sign-up-form {
	display: flex;
	flex-grow: 1;
	background-color: antiquewhite;
}
